:root
{
  --move_x:15px;
  --move_y:10px;

  --geld:0;
  --fisch:0;
  --karotte:0;
  --maus:0;
  --notiz:0;
  --ticket:0;

--grayscale_coin:0;
--grayscale_fish:0;
--grayscale_carrot:0;
--grayscale_mouse:0;
--grayscale_ticket:0;
--grayscale_note:0;

}
.precachingPictures
{
	visibility: hidden;
}
.figur
{
height: 62px;
width: 62px;
position:absolute;   
left:var(--move_x);
top:var(--move_y);
}

.geld
{
	height: 140px;
	width: auto;
	position: absolute;
	left:640px;
	top:330px;
	opacity: var(--geld);
	filter: grayscale(var(--grayscale_coin));
}
.fisch
{
	height: 140px;
	width: auto;
	position: absolute;
	left:765px;
	top:330px;
	opacity: var(--fisch);
	filter: grayscale(var(--grayscale_fish));
}
.karotte
{
	height: 140px;
	width: auto;
	position: absolute;
	left:885px;
	top:330px;
	opacity: var(--karotte);
	filter: grayscale(var(--grayscale_carrot));
}
.maus
{
	height: 140px;
	width: auto;
	position: absolute;
	left:640px;
	top:440px;
	opacity: var(--maus);
	filter: grayscale(var(--grayscale_mouse));
}
.notiz
{
	height: 140px;
	width: auto;
	position: absolute;
	left:765px;
	top:440px;
	opacity: var(--notiz);
	filter: grayscale(var(--grayscale_note));
}
.ticket
{
	height: 140px;
	width: auto;
	position: absolute;
	left:885px;
	top:440px;
	opacity: var(--ticket);
	filter: grayscale(var(--grayscale_ticket));
}
.sleeping_cat_position
{
	height: 30px;
	width: 45px;
	left:508px;
	top:220px;
	position:absolute;   
}
.border_radius_15
{
  border-radius: 15px;
}

.background {
	background-color: rgba(249, 71, 255, 0.514);
	background-attachment: fixed;
	border-radius: 25px;
	height: 640px;
	width: 1050px;
	border-color: black;
	border: 1px solid black;
	margin-left:auto;
	margin-right:auto;

	}

.box_column {
	background-attachment: fixed;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0 ;
	}
.box_row
{
    position: relative;
	display: flex;
	flex-direction: row;

	}
.one_row
{
	padding-left: 15px;
	padding-top: 10px;
}

.two_row
{
	padding-left: 10px;
}
.text_items
{
	font-size: 30px;
	font-family: 'Ink Free', serif;
	font-weight: bold;
}
.by_felix
{
	margin-top: 15px;
	font-size: 13px;
	font-family: 'Lato', serif;
}

  .help_text
  {
	  color: rgba(255, 0, 13, 0.74);
	  font-weight: bold;
  }

  .vendorPic
  {
	height: 620px;
	width: 620px;
	border-radius: 15px;
  }

.sprechblase
  {
	position: absolute;
	left:300px;
	top:220px;
	height: 100px;
	width: auto;
  }

  .backArrow
  {
	position: absolute;
	height: 70px;
	width: 150px;
	left: 420px;
	top: 550px;
  }


  /* sleeping cat popups */
.popup_cat {
	left:530px;
	top:210px;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }

/* Popup container - can be anything you want */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* The actual popup */
  .popuptext {
	visibility: hidden;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);

	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 25%;
	left: -515px;
	top:-200px;
  }
  

  /* Popup arrow */
.popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }


  
  /* Toggle this class - hide and show the popup */
  .popup, .popup_cat .fadeIn {
	visibility: visible;
	-webkit-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
  }

  .popup, .popup_cat .fadeOut {
	visibility: visible;
    opacity: 0;
    transition: 750ms all;
  }

  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 0.75;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:0.75 ;}
  }
